body{
    padding: 0px;
    margin: 0px;
    background-color: #0A70CC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blob{
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, #00D7AF 31.77%, #00BBD5 100%) ;
    border-radius:58% 42% 46% 54% / 39% 83% 17% 61%  ;
    transform: translate(-100px, -50px) rotate(90deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeBlob 20s infinite alternate;
}

.blob:hover{
    width: 520px;
    height: 520px;
    filter: blur(30px);
    box-shadow: 
    inset 0 0 5px #AA63A0,
    inset 100px 0 0 #8167BA,
    inset 200px 0 0 #5D6BC5,
    inset 300px 0 0 #8CA3D8;
}
@keyframes animeBlob {
    100%{
        transform: translate(300px, 50px) rotate(-10deg);
        border-radius:22% 78% 25% 75% / 64% 57% 43% 36%  ;
    }
}